<head>
	<meta charset="utf-8">
  <meta http-equiv="X-UA-Compatible" content="IE=Edge">
  <title>
    {{ site.title }}
  </title>
  <meta name="author" content="{{site.author}}">
  <meta name="description" content="{{site.description}}">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link rel="stylesheet" href="{{site.url}}/css/jkl-tachyons.min.css">
	<link rel="stylesheet" href="{{site.url}}/css/additional.css">
  <script type="text/javascript">
    function createKeenWebAutoCollector(){window.keenWebAutoCollector=window.KeenWebAutoCollector.create({projectId:'589236188db53dfda8a860a6',writeKey:'A9A1C4B3F3B5514AD136F687B0642C87F395C7394FFCC19807CBE283217F8BC5',onloadCallbacks:window.keenWebAutoCollector.onloadCallbacks}),window.keenWebAutoCollector.loaded()}function initKeenWebAutoCollector(){window.keenWebAutoCollector.domReady()?window.createKeenWebAutoCollector():document.addEventListener("readystatechange",function(){window.keenWebAutoCollector.domReady()&&window.createKeenWebAutoCollector()})}window.keenWebAutoCollector={onloadCallbacks:[],onload:function(a){this.onloadCallbacks.push(a)},domReady:function(){return["ready","complete"].indexOf(document.readyState)>-1}};
  </script>
  <script async type="text/javascript" src="https://d26b395fwzu5fz.cloudfront.net/keen-web-autocollector-1.0.7.min.js" onload="initKeenWebAutoCollector()"></script>
</head>
